@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=League+Spartan:wght@100&family=Mochiy+Pop+P+One&family=Poppins:ital,wght@1,300&family=Prompt:wght@600&family=Ubuntu:wght@400;700&family=Varela+Round&display=swap');
*{
    padding: 0%;
    margin: 0%;
    font-family: 'Varela Round';
    box-sizing: border-box;
    
}
.headline
{
    font-size: 13px;
    color:black;
}
.headline-toggle
{
    font-size: 13px;
    color:white;
}
.toggle-button
{
    background-color: #f5f5f5;
    border: 2px solid #f5f5f5;
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
    color: #000;
    cursor: pointer;
    transition: 0.3s;
}
.hero{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: fixed;
    z-index: -10;
}

.main-container
{
    display: flex;
    justify-content: center;
    margin-bottom:50px;
}
.container1
{
   
    width: 30%;
    height: 30%;
    max-width: fit-content;
    max-height: fit-content;
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 100px;
    background: rgba(208,233,253,255);
    padding: 50px;
    border-radius: 20px;
    margin: 0% -10%;    
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 5;  
     
}

.container
{
    background:rgba(255,255,255,255);
    width: 30%;
    height: 30%;
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 100px; 
    padding: 50px;
    border-radius: 20px;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 10;
   
}

.container2
{
    
    width: 30%;
    height: 30%;
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 100px;
    background: rgba(208,233,253,255);
    padding: 50px;
    border-radius: 20px;
    margin: 0% -10%; 
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 5;
}

.urltoimage
{
    width:400px;
    height:200px;
    margin-top: 20px;
    max-height:100%; 
    max-width:100%;
}
.title
{
    font-size:30px;
    margin-bottom: 20px;
    color:rgba(4,6,12,255);
   
}

.description
{
    font-size: 15px;
    margin-bottom: 20px;
    color:rgba(176,176,168,255);
}

.link {
    
    border: 2px solid black;
    background-color: white;
    text-decoration: none;
    color: black;
    padding: 5px 20px;
    font-size: 16px;
    border-color: #04AA6D;
    border-radius: 5px;
    color: green;
    cursor: pointer;
  }
.link:hover{
    background-color: #04AA6D;
    color: white;
}

.content
{
    font-size: small;
    margin-top: 10px;
    margin-bottom: 10px;
}

.urltoimage1
{
    width:400px;
    height:200px;
    margin-top: 20px;
    max-height:100%; 
    max-width:100%;
}


.title1
{
    font-size:30px;
    margin-bottom: 20px;
    color:rgba(4,6,12,255);
   
}

.description1
{
    font-size: 15px;
    margin-bottom: 20px;
    color:rgba(176,176,168,255);
}

.link1
{
    max-height:100%;
    max-width:100%;
    margin-left:100px;
    color:red;
    text-decoration: none;
}

.content1
{
    font-size: small;
    margin-top: 10px;
    margin-bottom: 10px;
}
.urltoimage2
{
    width:400px;
    height:200px;
    margin-top: 20px;
    max-height:100%; 
    max-width:100%;
}


.title2
{
    font-size:30px;
    margin-bottom: 20px;
    color:rgba(4,6,12,255);
   
}

.description2
{
    font-size: 15px;
    margin-bottom: 20px;
    color:rgba(176,176,168,255);
}

.link2
{
    max-height:100%;
    max-width:100%;
    margin-left:100px;
    color:red;
    text-decoration: none;
}

.content2
{
    font-size: small;
    margin-top: 10px;
    margin-bottom: 10px;
}

.buttons
{
    margin-top: 5px;
    display:flex;
    justify-content: space-between;
}

.back
{
    background: #00B8FF;
    color:white;
    text-decoration: none;
    width:100px;
    height:50px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    padding: 20px;
    
}

.next
{
   
    background: #00B8FF;
    color:white;
    text-decoration: none;
    width:100px;
    height:50px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: all 0.5s;
    padding: 20px;
}

.next span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
.next span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
.next:hover span {
    padding-right: 25px;
  }
  
.next:hover span:after {
    opacity: 1;
    right: 0;
  }



.back span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
.back span:after {
    content: '\00ab';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
.back:hover span {
    padding-right: 25px;
  }
  
.back:hover span:after {
    opacity: 1;
    right: 0;
  }

.main-container
{
  display: flex;
  flex-direction: row;
 
  
}

.category
{
    display: flex;
    margin-top: 100px;
    margin:10px;
    position: relative;
    flex-direction: row;
    align-content: flex-start;
    justify-content: center;
    min-width: 100vw;
}

/* //// General  //// */
.slide-general {
    border-color: #3498db;
    color: #00B8FF;
    box-shadow: 0 0 30px 30px #7fb4d6 inset, 0 0 0 0 #00B8FF;
    border-radius: 20px;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    min-width: fit-content;
}
.slide-general:hover {
      color: #00B8FF;
    box-shadow: 0 0 10px 0 #adcde2 inset, 0 0 10px 4px #a7c9df;
    border-radius: 10px;
}

  
  /* Entertainment button */
.slide-entertainment {
    width: 220px;
    height: 140px;
    border: none;
    outline: none;
    color: #00B8FF;
    background: white;
    border-radius: 25px;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    min-width: fit-content;
}
.slide-entertainment:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
}

.slide-entertainment:active {
    color: #00B8FF
}

.slide-entertainment:active:after {
    background: transparent;
}

.slide-entertainment:hover:before {
    opacity: 0.6;
}

.slide-entertainment:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    color: #00B8FF;
    left: 0;
    top: 0;
    border-radius: 20px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
/* Business Button*/

.grow-business {
    border-color: #00B8FF;
  border-radius: 20px;
  color: #00B8FF;
  position: relative;
  overflow: hidden;
  z-index: 1;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
  cursor: pointer;  
  min-width: fit-content;
}
.grow-business:after {
    content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 0;
  height: 100%;
  background: #00B8FF;
  z-index: -1;
  -webkit-transition: width 150ms ease-in-out;
  transition: width 150ms ease-in-out;
}
.grow-business:hover {
  color: #fff;
  border-radius: 10px;
}
.grow-business:hover:after {
  width: 110%;
  border-radius: 20px;
}

/*Sports Button*/
.grow-sports {
  border-color: #00B8FF;
  color: #00B8FF;
  border-radius: 20px;
  background-image: -webkit-linear-gradient(45deg, #00B8FF 50%, transparent 50%);
  background-image: linear-gradient(45deg, #00B8FF 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
  min-width: fit-content;
}
.grow-sports:hover {
  background-position: 0;
  color: #fff;
  border-radius: 10px;
}
#cat1
{
    margin: 20px 10px;
    width: 20%;
    background-color: white;
    padding: 50px;
    border:1px solid black;
    cursor: pointer;  
}
@media screen and (max-width: 890px) {
    .category {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}/* #cat1:hover
{
    background-color:  #00B8FF;
    color: white;
} */
/* #cat1:focus
{
    background-color:  #00B8FF;
    color: white;
} */
/* #cat1:active
{
    background-color:  #00B8FF;
    color: white;
} */

.footer
{
  
  padding: 10px;
  bottom:0;
  left:0;
  width:100%;
  background: #00B8FF;
  
  animation: gradient 15s ease infinite;
 
 
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.credits
{
    text-align: center;
    text-decoration: none;
    font-family:cursive;
}
/* NAVBAR*/
.nav{
    
    position:relative;
    top:0;
    margin-bottom: 10px;
    width: 100%;
    padding: 20px 40px;
    border-bottom: 1px dashed black;
    display: flex;  
    align-items: center;   
}
.nav-toggle{
    
    position:relative;
    top:0;
    margin-bottom: 10px;
    width: 100%;
    padding: 20px 40px;
    border-bottom: 1px dashed white;
    display: flex;  
    align-items: center;   
}

.logo{

    font-size: 50px;
    margin-right:5px;
    font-weight: 200;
    color: #00B8FF;
}
.menu
{
    margin-left: auto;
}
.toggle
{
        background-color: #171717;
        color: white;
}


/* MediaQueries */


@media screen and (max-width: 480px) {
    .main-container
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom:50px;
    }
.container1
{
   
    width: 100%;
    height: 100%;
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 100px;
    background: rgba(208,233,253,255);
    padding: 50px;
    border-radius: 20px;
    margin: 50px -50px;    
    z-index: 5;  
     
}
}